.card-profile{
  @extend %common-card-testimonial;
}

.card-profile{
  .card-header:not([class*="card-header-"]){
    background: transparent;
  }
  .card-avatar {
    max-width: 160px;
    max-height: 160px;
  }
}
